*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar css */
.navbar{
    line-height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position:sticky;
    top: 0;
}
#check, .checked{
    display: none;
}
.right ul{
    list-style: none;
    display: flex;
}
.right ul li a{
    text-decoration: none;
    color: wheat;
    padding: 10px;
    transition: all 1s;
}
@media screen and (max-width:700px){
    .list{
        height: 90vh;
        width: 100%;
        background: linear-gradient(black,gray);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 100%;
        transition: all 2s;
    }
    .checked{
        display: block;
    }
    #check:checked~ul{
        left: 70%;
    }
}

/* Swipper css */
.sec{
    height:700px;
    width: 100%;
}
.sec .mySwiper{
    height: 700px;
    width: 100%;
}
.sec .mySwiper img{
    height: 90%;
    width: 100%;
}
